#lineeditor ul.positiontabs{
	font-family: Open Sans;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin: 10px 0 0;
    border-width:0px;
    border-bottom: 1px solid #ccc;
    padding: 3px 0px 3px 0 px!important;

    background: transparent none;
    color: #222222;
    border-radius: 0px;
    

}
#lineeditor ul.positiontabs li {
    margin: 0;
    overflow: hidden;
    padding: 0;
    border: 0px solid #d3d3d3;
    background: transparent none;
    font-weight: normal;
    color: #222;
}
#lineeditor ul.positiontabs li + li{margin-left:10px;border-width:0px;}
#lineeditor ul.positiontabs li a{
background: transparent url("images/arrow.png") no-repeat scroll center bottom;
    padding: 2px 10px 10px 10px;
    text-decoration: none;
}
#lineeditor ul.positiontabs li.ui-tabs-active a{
background: transparent url("images/arrowactive.png") no-repeat scroll center bottom;
    text-decoration: none;
    font-weight:500;
}

#lineeditor  #tabs .linesection{width:45%;margin-bottom:10px;min-height:160px;height:auto;margin-left:10px;}
#lineeditor  #tabs .linesection input[type=button]{padding:0px 0px;text-align:center;margin-top:3px;}
#lineeditor  #tabs .linesection input.textname {width:80%;border:1px solid #e8e8e8;padding:1px 5px;}

#lineeditor  .playerlist{width:20%;float:left;border:1px solid #666666;margin:2px; padding:2px;}
#lineeditor  .playerlist select{width:100%; -webkit-appearance: menulist-textfield;border-width:0px;}
#lineeditor  .stratval{width:15px;font-size:11px;text-align: center;border:1px solid #cccccc;}
#lineeditor  .linetabs {float:right;width:78%;}
#lineeditor  .linetabs .sliders{width:87%;}
#lineeditor  .linetabs .stratlabel{margin-top:3px;width:30px;}

#lineeditor  .linetabs .textname:hover{cursor:default;}
#lineeditor  option{padding:1px 0px 0px 5px;}
#lineeditor  option + option{border-top:1px dotted #cccccc;}

#lineeditor  .linetabs .stratvalue{width:80px;}
#lineeditor  .linetabs .timevalue{width:80px;}

#lineeditor  .updown{width:12px;height:12px;background-repeat:no-repeat;border-width:0px;background-color: transparent;background-size: 100% 100%;}
#lineeditor  .up {background-image:url('http://anhs.qc.ca/images/icons/inc.png');margin:2px 0px 0px -4px;}
#lineeditor  .down {background-image:url('http://anhs.qc.ca/images/icons/dec.png');margin:2px -4px 0px 0px;}

#lineeditor  #errorheader{font-weight:bold;}


#lineeditor  .errorwrapper{padding:10px;overflow:hidden;}
#lineeditor  .erroritem{font-size:11px;float:left;margin-right:15px;}



.linetabs .tabcontainer{overflow:hidden;}
.linetabs h4{background-color: #e8e8e8;
    border: 1px solid #c6c6c6;
    margin: 0px 0px 7px 0px !important;
    padding: 2px 6px;
    font-size:1.0vw;
}

.linetabs .blockcontainer{font-size:0.8em;padding:0px 10px;}
.linetabs .linesection{position:relative;height:150px;width:22.5%;border:1px solid #cccccc;float:left;padding:5px 5px 5px 5px;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);}
.linetabs .linesection + .linesection{margin-left:10px;}
.linetabs .sliders{position:absolute;bottom:5px;background-color:#f3f3f1;padding:3px;}
.linetabs .positionwrapper{overflow:hidden;}
.linetabs .positionline{clear:both;}
.linetabs .positionline + .positionline{margin-top:3px;padding-top:3px;border-top:1px dotted #cccccc;}
.linetabs .positionlabel{width:30px;float:left;}
.linetabs .strategywrapper{overflow:hidden;margin-bottom:3px;padding-bottom:3px;border-bottom:1px solid #e8e8e8;}
.linetabs .strats{overflow:hidden;float:left;}
.linetabs .stratlabel{float:left;width:40px;}
.linetabs .stratvalue{float:left;width:20px;}
.linetabs .timelabel{float:left;width:60px;}
.linetabs .timevalue{float:left;width:20px;}
.linetabs .startinggoalie{margin-bottom:10px;}

.positionlist{border-bottom:1px solid #999999;background-color:#cccccc;color:#333;padding:3px;font-size:0.9vw;margin-bottom:3px;}
.positionlist label{margin-right:1.0vw;}

.smalllist{font-size:0.7vw;padding-left:0.4vw;font-style: italic;}

.playerlist{overflow:hidden;}

.playerlist .playerselect {
	list-style-type:none;
	margin:0px 0 0 0;
	padding:0;
	overflow:hidden;
}

.playerlist .playerselect li {
    float:left;
    margin:0 0px 0px 0;
    padding:6px 0px 0px 0px;
    position:relative;
    width:100%;
    height:16px;
    border-radius:3px;
}

.playerlist .playerselect li + li{
	border-top: 1px dotted #cccccc;
}

.playerlist .playerselect label, .playerlist .playerselect input {
    display:block;
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    padding:4px 0px 0px 6px;
}


.playerlist .playerselect input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.playerlist .playerselect input[type="radio"]:checked + label,
.playerlist .Checked + label {
    background:#666666;
    color:#fff;
    font-weight:bold;
}


@media screen and (max-width: 80em) {
	#lineeditor  #tabs .linesection{width:45%;margin-bottom:10px;min-height:160px;height:auto;}
	.linetabs .linesection + .linesection{margin-left:0px;}
	#lineeditor .linetabs{width:75%;}
	#lineeditor  #tabs .linesection input.textname {width:98%;border:1px solid #e8e8e8;padding:1px 5px;}
	#lineeditor #tabs .linesection {
	    height: auto;
	    margin-bottom: 10px;
	    margin-left: 0px;
	    min-height: 160px;
	    width: 96%;
	}

	.playerlist .playerselect li {font-size: 1.3vw;height:1.3vw;}	
	.playerlist .playerselect label, .playerlist .playerselect input {
	    padding:0.4vw 0px 0px 6px;

	}

	#lineeditor ul.positiontabs li a{
		background: transparent url("images/arrows.gif") no-repeat scroll center 3.3vw;
	    padding: 2px 1.0vw 1.0vw 1.0vw;
	    text-decoration: none;
		}

	.ui-tabs .ui-tabs-panel {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    border-width: 0;
	    display: block;
	    padding: 1em 0em;
	}
	


	.positionwrapper{
		width:68%;
		float:left;
	}
	#lineeditor .linetabs .sliders {
		position:static;
		float:right;
		width:27%;
	}

	.positionname{float:left;width:80%;}
	.linetabs .strats{float:none;}
	.linetabs #tabs li{font-size:1.3vw;}

    .positionlist input[type=checkbox]{width:1.3vw;padding:0px;margin:0px;}
    .positionlist label{margin:-6px 0.5vw 0px 0px;font-size:1.2vw;}
	
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 1em;
    
  }
}
	
